@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

.title {
    color: #FF7806;
    font-family: Jost;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
}